@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <iframe width="1244" height="700" src="https://www.youtube.com/embed/CEYRBTZWu8U" title="Blockhead - The Music Scene - Official Video [HD]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h1 class="display-4 green-text" onmouseover="newColor()" onmouseout="oldColor()">Hello World</h1>
    <p><button onclick="myMove()">Click Me</button></p>

    <div id="container">
        <div id="animate"></div>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
